{% extends "default.html" %}
{% block title %}Remove a Language from the Language List{%  endblock %}
{%  block header %}Select a Language to remove from the Language List:{%  endblock %}
{% block content %}
    <form method="POST" action="do_remove_language_from_languagelist">
        <table class="data_entry_form">
            <tr><th><label>Language:</label></th><td>
                {% set select_name="language" %}
                {% include "select_language.html" %}
            </td></tr>
             <tr><th><label>Language List:</label></th><td>
                {% set select_name="languagelist" %}
                {% include "select_languagelist.html" %}
            </td></tr>
            <tr><th colspan="2"><button type="submit">REMOVE</button></th></tr>
        </table>
    </form>
{% endblock %}