<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="static/language_catalog.css">
</head>
<body>
{% if "user" in session %}
<div class="top_button"><a href="/logout">Logout</a> </div>
<div class="top_button">{{ session["user"].get_username() if "user" in session }}</div>
{% endif %}
<h1>{%  block header %}Default Header{% endblock %}</h1>
{% block content %}
    <p>Default content</p>
{% endblock %}
{% block footer %}
<hr>
<a href="/">Computer Language Catalogue Home Page</a>
<br>Covered under <a href="https://creativecommons.org/licenses/by/4.0/legalcode.en"> CC BY 4.0 DEED</a><br>
Call AL for any questions
{% endblock %}
</body>
</html>