{% extends "default.html" %}
{% block title %}Create a new Language List{%  endblock %}
{% block header %}Please enter the Language List name/description:{% endblock %}
{% block content %}
    <form method="POST" action="do_create_languagelist">
        <table class="data_entry_form">
            <tr><th><label>Name:</label></th><td><input type="text" name="name"></td></tr>
            <tr><th><label>Description:</label></th><td><input type="text" name="description"></td></tr>
            <tr><th colspan="2"><button type="submit">CREATE</button></th></tr>
        </table>
    </form>
{% endblock %}
